{{!< default}}

{{> cover this}}

<section class="wrapper" tabindex="0">
  <div class="wrapper-container">
    <header>
      <p><h2>文章被贴上了 <i>{{tag.name}}</i> 的标签</h2></p>
      <hr>
    </header>

    <section class="post-list">
      {{#foreach posts}}
        {{> post/list this}}
      {{/foreach}}
    </section>

    {{#if pagination}}
      {{pagination}}
    {{/if}}

    {{> footer this}}
  </div>
</section>
