{{! Templates

链接
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> 关注我
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  关注我
</li>

小贴士:
==============
Ghostium 采用了字体Awesome ，在下面的链接中你可以找到所有图标
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>首页
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>RSS
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  关注我
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com" target="_blank">
    <i class="fa fa-twitter"></i>推特
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://github.com" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
